[Unit]
Description=Prometheus mysqld-exporter for Mempool's MariaDB instance
Documentation=https://github.com/prometheus/mysqld_exporter

Wants=network-online.target podman-network@bitcoind.serivce mempool-mariadb.service
After=network-online.target podman-network@bitcoind.serivce mempool-mariadb.service

RequiresMountsFor=%t/containers

[Service]
Type=notify
NotifyAccess=all

Restart=on-failure
TimeoutStopSec=70

Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStartPre=/bin/rm -f %t/%n.cid
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.cid
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile %t/%n.cid

ExecStart=/usr/bin/podman run -d --cidfile %t/%n.cid --rm --pull newer\
  --cgroups no-conmon --sdnotify conmon --log-driver journald --name mempool-mariadb-exporter\
  --read-only --network mempool --publish 9104:9104/tcp\
  --env DATA_SOURCE_NAME="exporter:exporter@(mempool-mariadb:3306)/"\
  quay.io/prometheus/mysqld-exporter:v0.14.0

[Install]
WantedBy=default.target
