[Unit]
Description=Mempool API
Documentation=https://github.com/mempool/mempool/tree/master/backend

Wants=network-online.target local-fs.target podman-network@mempool.service podman-network@bitcoind.service mempool-mariadb.service
After=network-online.target local-fs.target podman-network@mempool.service podman-network@bitcoind.service mempool-mariadb.service

RequiresMountsFor=%t/containers

[Service]
Type=notify
NotifyAccess=all

Restart=on-failure
TimeoutStopSec=70

Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStartPre=/usr/bin/rm -f %t/%n.cid
ExecStartPre=/usr/bin/mkdir -p /var/data/mempool/cache
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.cid
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile %t/%n.cid

ExecStart=/usr/bin/podman run -d --cidfile %t/%n.cid --rm\
  --cgroups no-conmon --sdnotify conmon --log-driver journald --name mempool\
  --read-only --init --stop-timeout 120 --network mempool --network bitcoind\
  --volume /var/data/mempool/cache:/opt/mempool/cache:z\
  --label traefik.enable=true\
  --label traefik.docker.network=mempool\
  --label traefik.http.services.mempool.loadbalancer.server.port=8999\
  --label traefik.http.services.mempool.loadbalancer.healthCheck.path=/mempool/api/v1/difficulty-adjustment\
  ghcr.io/jmanero/mempool:2.4.0

[Install]
WantedBy=default.target
