[Unit]
Description=Static HTTP File Server for Mempool UI artifacts
Documentation=https://github.com/jmanero/static

Wants=network-online.target local-fs.target mempool.service
After=network-online.target local-fs.target mempool.service

RequiresMountsFor=%t/containers

[Service]
Type=notify
NotifyAccess=all

Restart=on-failure
TimeoutStopSec=70

Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStartPre=/usr/bin/rm -f %t/%n.cid
ExecStartPre=/usr/bin/mkdir -p /var/lib/www
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.cid
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile %t/%n.cid

ExecStart=/usr/bin/podman run -d --cidfile %t/%n.cid --rm --pull newer\
  --cgroups no-conmon --sdnotify conmon --log-driver journald --name www-static\
  --read-only --network mempool\
  --label traefik.enable=true\
  --label traefik.http.services.mempool-ui.loadbalancer.server.port=9807\
  --label traefik.http.services.mempool-ui.loadbalancer.healthCheck.path=/liveness\
  ghcr.io/jmanero/mempool-ui:2.4.0 --listen 0.0.0.0:9807 /var/lib/www

[Install]
WantedBy=default.target
